@font-face {
    font-family: 'Brotesk';
    src: url(Brotesk.otf);
}

body {
	background: #000;
	color: #FFF;
	font-family: "Brotesk", sans-serif;
}
.main-img {
	height: 100%;
	opacity: 0.01;
	animation: v 2s forwards;
}

@keyframes v {
	0% {
		opacity: 0.01;
		}
	100% {
		opacity: 1;
	   }
}

.main-btn {
    text-decoration: none;
    background: #0073E6;
	border-radius: 20px;
    transition: 0.5s;
	border: none;
}

.main-btn:focus {
   outline: none; 
}

.main-btn:hover {
    transition: 0.5s;
    box-shadow: -5px 5px 0 #0073E6;
}

@media (max-width: 991.5px) {
	.main-btn {
		margin-top: 1rem;
	}
}
@media (min-width: 1400px) {
	.logo-main {
		position: absolute;
	}
}
@media (max-width: 1399.5px) {
	
	.navbar {
		position: relative;
	}

	.logo-main {
		transform: translateX(-50%);
		left: 50%;
		position: absolute;
	}
	header {
		margin-top: 100px;
	}
}