@font-face {
    font-family: 'Brotesk';
    src: url(Brotesk.otf);
}

body {
	background-color: #000;
	color: #FFF;
	font-family: "Brotesk", sans-serif;
}

.main-btn {
    text-decoration: none;
    background: #0073E6;
	border-radius: 20px;
    transition: 0.5s;
	border: none;
}

.main-btn:focus {
   outline: none; 
}

.main-btn:hover {
    transition: 0.5s;
    box-shadow: -5px 5px 0 #0073E6;
}

@media (max-width: 991px) {
	.main-btn {
		margin-top: 1rem;
	}
}
@media (min-width: 1400px) {
	.logo-main {
		position: absolute;
	}
}
@media (max-width: 1399px) {
	.logo-main {
		
	}
}